* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: sans-serif;
  margin
}
main {
  margin: 45px;
}

.flex.container {
  display: flex;
}
img.gallery {
  margin-bottom: 10px;
}
.menu {
  display: block;
width:16%;
position: fixed;
float: left;
font-family: 'Inter', sans-serif;

}

.heading {
  font-size: 23px;
  font-weight: bolder;
  font-family: 'Inter', sans-serif;
}

.image{
  margin-top: -45px;
  margin-bottom: -40px;
  margin-left: 20px;
}
.list {
  line-height: 30px;
  font-weight: 500;
}

.socials {
  margin-left: -2px;
  padding: -2px;
  margin-top: 20px;
  gap:5px;
}

.homegallery {
  display:;
  width: 82%;
  height: auto;
  float: right;
  line-height:0;
  -webkit-column-count:3; /* split it into 5 columns */
  -webkit-column-gap:10px; /* give it a 5px gap between columns */
  -moz-column-count:10;
  -moz-column-gap:10px;
  column-count:3;
  column-gap:10px;
}
.othergallery {
  line-height: 10px;
  -webkit-column-count:3; /* split it into 5 columns */
  -webkit-column-gap:10px; /* give it a 5px gap between columns */
  -moz-column-count:10;
  -moz-column-gap:10px;
  column-count:3;
  column-gap:10px;
}


h1 {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  margin-bottom: 20px;
}

p{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-right: 40px;
}

h4{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 150px;
  font-weight:200;
}

.rightsection {
width: 82%;
height: auto;
float: right;
text-align: center;
}

.about {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  gap: 50px;
  padding: 20px;
}

.contact {
  display: flex;
  justify-content: space-around;
  line-height: 40px;
}

.gdgallery {
margin-top: -10px;
display: flex;
  gap: 10px;
}

ul{
  margin-left: 15px;
}

h2 {
  font-family: 'Inter',sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
  font-weight: 500;
  letter-spacing: 15px;
  margin-top: 20px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover { color:hotpink; }

.footer {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  text-align: center;
 padding: 3px;
 color: black;
 width: 100%;
    }
