* {
  box-sizing: border-box;
  margin: 10PX;
  padding: 0;
  margin-right: 12px;
}

body {
  background-color: white;
  font-family: sans-serif;
}

.flex.container {
  display: flex;
}

.menu {
  display: block;
width:16%;
position: fixed;
float: left;
font-family: Inter;

}

.heading {
  font-size: 23px;
  font-weight: bolder;
  font-family: Inter;
}

.image{
  margin-top: -50px;
  margin-bottom: -30px;
  margin-left: 35px;
}
.list {
  line-height: 20px;
  font-weight: 500;
}

.socials {
  margin-left: -2px;
  padding: -2px;
}

.homegallery {
  display:;
  width: 82%;
  height: auto;
  float: right;
  line-height:0;
  -webkit-column-count:3; /* split it into 5 columns */
  -webkit-column-gap:10px; /* give it a 5px gap between columns */
  -moz-column-count:10;
  -moz-column-gap:10px;
  column-count:3;
  column-gap:10px;
}
.othergallery {
  line-height: 10px;
  -webkit-column-count:3; /* split it into 5 columns */
  -webkit-column-gap:10px; /* give it a 5px gap between columns */
  -moz-column-count:10;
  -moz-column-gap:10px;
  column-count:3;
  column-gap:10px;
}


h1 {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  line-height: 90px;
  text-align: center;
}

p{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  text-align: center;
}

.rightsection {
  display:;
width: 82%;
height: auto;
float: right;
text-align: center;
}

.about {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}

.gdgallery {
display: flex;
line-height: 1px;
margin-top: -40px;
justify-content:flex-start;
}

h2 {
  font-family: 'Inter';
  font-size: 25px;
  text-align: center;
  line-height: 60px;
  font-weight: 500;
  letter-spacing: 15px;
  margin-top: 30px;
}

a {
  margin-left: -0.5px;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover { color:hotpink; }

.footer {
  display: block;
  font-family: 'Inter';
  font-style: italic;
  text-align: center;
 padding: 3px;
 color: black;
 width: 100%;
    }
